In [1]:
#fill individually

import pandas as pd
df=pd.read_csv("/content/dirtydata.csv")

In [2]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [3]:
#check any null value
print(df.isnull().any())

Duration    False
Date         True
Pulse       False
Maxpulse    False
Calories     True
dtype: bool

In [4]:
#print the sum of null values
print(df.isnull().sum().sum())

3

In [5]:
#summarize the empty cells
print(df.isnull().sum())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [7]:
#now solve Calories
df["Calories"].fillna(123,inplace=True)

In [8]:
#now check again how many nempty cells are remain
print(df.isnull().sum())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [9]:
#now take date 
df["Date"].fillna(145,inplace=True)

In [10]:
#now check
print(df.isnull().sum())

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64