In [1]:
import pandas as pd
df=pd.read_csv("/content/dirtydata.csv")

In [2]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [3]:
#check empty cells
print(df.isnull().any())

Duration    False
Date         True
Pulse       False
Maxpulse    False
Calories     True
dtype: bool

In [4]:
#summarize
print(df.isnull().sum())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [5]:
x=df["Calories"].mean()
df["Calories"].fillna(x,inplace=True)

In [6]:
#check empty cells once again
print(df.isnull().any())

Duration    False
Date         True
Pulse       False
Maxpulse    False
Calories    False
dtype: bool