In [1]:
#replace empty values with fillna
import pandas as pd
df=pd.read_csv("/content/dirtydata.csv")

In [2]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [3]:
#check the empty values
print(df.isnull().any())

Duration    False
Date         True
Pulse       False
Maxpulse    False
Calories     True
dtype: bool

In [4]:
#summarizing the emptycells
print(df.isnull().sum())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [6]:
#replace null values
df.fillna(120,inplace=True)

In [7]:
#now check does it contains any empty values or not
print(df.isnull().sum())

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64