In [1]:
#python list

a=[]#emptylist

b=[1,2,3,4,5]

c=[1,1.5,"Vijay"]

print(a)

print(b)

print(c)

[]
[1, 2, 3, 4, 5]
[1, 1.5, 'Vijay']

In [5]:
#2_d list

a=[1,2,3,["Vijay","Thapak"],1.5,1.6]

print(a)

print(a[0:2])
print(a[1:2])

[1, 2, 3, ['Vijay', 'Thapak'], 1.5, 1.6]
[1, 2]
[2]

In [8]:
#list slicing

a=[1,2,3,4,5,6,7,8,9,10]

print(a[0])
print(a[2:4])

print(a[3:4])

1
[3, 4]
[4]

In [10]:
#negative indexing

a=[1,2,3,4,5,6,7,8]

print(a[-1])

print(a[-5])

8
4

In [11]:
print(a[-1:-3])

[]

In [16]:
#add item in the list
#list is mutable unlike string and tuple
#we can add item in the list by using assignment operator =

a=[2]
a[0]=1
print(a)
print(a)

[1]
[1]

In [20]:
#appending and extending in the list
#append is used to add one item at a time in the list
#extend is used to add several items at a time in the list

a=[1,2,3,4]

print(a)
#append
a.append(7)
print(a)

#extend

a.extend([8,9,10,11,22])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7, 8, 9, 10, 11, 22]

In [22]:
# we can use + sign to combine the list this is called concatination
# * asterics sign to repeat the list

a=[1,2,3,4,5]

print(a+[6,7,8,9])

# asteric sign

print(["Vijay thapak"]*3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['Vijay thapak', 'Vijay thapak', 'Vijay thapak']

In [25]:
#insert item at a desigred location by using insert() method

a=[1,2,3]
print(a)
a.insert(2,5)
print(a)

#we can also add multiple items

a[3:5]=[67,89,90]
print(a)

[1, 2, 3]
[1, 2, 5, 3]
[1, 2, 5, 67, 89, 90]

In [29]:
#delete is used for deleting one or more item in the list

a=[1,2,3,4,5,6]

print(a)

#delete the items
del a[2]
print(a)
#delete more than one item

del a[1:3]
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]
[1, 5, 6]

In [34]:
#remove and pop
#remove is used to for deleting the item
#pop is used to delete the item by given idex

a=["v","i","j","a","y"]

print(a)
a.remove("i")
print(a)

print(a.pop(2))

['v', 'i', 'j', 'a', 'y']
['v', 'j', 'a', 'y']
a

In [38]:
#index or count of the list

a=[1,2,3,4,5,6,1,3,4,5,1,5,6,7,8]
print(a.count(3))
print(a.count(1))
print(a.index(4))

a.reverse()
print(a)

2
3
3
[8, 7, 6, 5, 1, 5, 4, 3, 1, 6, 5, 4, 3, 2, 1]

In [39]:
#iteration

for fruit in["Apple","Mango","Banana"]:
  print("I like ",fruit)

I like  Apple
I like  Mango
I like  Banana

In [41]:
#list membership

a=["v","i","j","a","y"]

print("p" in a)
print("a" in a)

False
True